.container
    header.row.text-center.my-3  
        .col-2 
            img(src="https://zmp3-static.zmdcdn.me/skins/zmp3-v6.1/images/backgrounds/logo-dark.svg", width="90%" alt="")
        .col-3
            .input-group
                input(class="form-control")
                button(class="btn btn-primary px-3")
                    i(class="fa-solid fa-magnifying-glass")
        .col-5.d-flex.justify-content-evenly 
            div 
                a(href="") Trang chủ
            div 
                a(href="") Thể loại      
        .col-2.d-flex.justify-content-evenly 
            a(href="") 
                i(class="fa-solid fa-user")
            a(href="") 
                i(class="fa-solid fa-heart text-danger")
